<p id="notice"><%= notice %></p>

<p>
  <strong>Given url:</strong>
  <%= @link.given_url %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @link.slug %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @link.clicks %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', root_path %>
